doctype html
html
  head
    meta(charset='utf-8')
    |     
    title &#xBA54;&#xC778; &#xD398;&#xC774;&#xC9C0;
    |     
    |     
    style.
      .content {
      margin:0 aut0;
      line-height: 100px;
      }
      .btn {
      width:200px;
      height:200px;
      background-color: #EEEEEE;
      margin-bottom: 100px;
      font-size: 1.5em
      }
      .table {
      margin:0 auto;
      width: 500;
      height: 500;
      margin-bottom:200px;
      padding:80px;
      border: 1px solid #000000;
      }
      .user_info {
      font-size: 2.0em;
      text-align: right;
      margin: 50px;
      }
  body
    .content
      .user_info
        div #{user_nickname}&#xB2D8; &#xD658;&#xC601;&#xD569;&#xB2C8;&#xB2E4;.
        | &#x9;&#x9;&#x9;
        a(href='/logout') &#xB85C;&#xADF8;&#xC544;&#xC6C3;
      | &#x9;&#x9;
      | &#x9;&#x9;
      | &#x9;&#x9;
      table.table
        tr
          td
            .btn
              a(href='/write_introduce') &#xC790;&#xC18C;&#xC11C; &#xC5C5;&#xB85C;&#xB4DC;
          |                
          |                &#x9;&#x9;
          td
            .btn
              a(href='/company_analyze') &#xAE30;&#xC5C5;&#xBD84;&#xC11D; &#xC5C5;&#xB85C;&#xB4DC;
        | &#x9;&#x9;&#x9; 
        | &#x9;&#x9;&#x9;&#x9; 
        tr
          td
            .btn
              a(href='/schedule') &#xC2A4;&#xD130;&#xB514; &#xC77C;&#xC815;&#xAD00;&#xB9AC;
          |               
          |               &#x9;&#x9;
          td
            .btn
              a(href='/board') &#xC790;&#xC720; &#xAC8C;&#xC2DC;&#xD310;

