
doctype html
html
  head
    meta(charset='utf-8')
    |     
    title &#xBA54;&#xC778; &#xD398;&#xC774;&#xC9C0;
    |     
    |     
    style.
      .content {
      margin:0 aut0;
      margin-top:30px;
      }
    |  
    head
  body
    .content
      div
          font(size='6')
             if(result)
                 div= '스터디 장소 : ' +  result.place
              else
                 div= '스터디 장소 : ' + result2

  
